@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-modal-container">
    <div class="uk-panel">
        <div class="uk-modal-header">
            <h2>Art Direction and Print Design</h2>
        </div>
        <div class="uk-panel">
            <p>Since 1994, I have been an art director and designed editorial as well as advertising content at a variety of newsweeklies. Along with this, I continue to create probono design for nonprofits such as 2Gyrlz and PNCA.</p>
        </div>
    </div>
    <div class="uk-heading-divider"></div>
    <div class="uk-modal-container">
        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="{gutter: 20}">
            <div>
                <img src="~/images/print/PNCA_2002.jpg" width="400" />
                <p>PNCA Alumni Newsletter. Design/Content Writer/Photographer. PNCA, 2002.</p>
            </div>
            <div>
                <img src="~/images/print/PNCA_2003.jpg" width="400" />
                <p>PNCA Alumni Newsletter. Design/Content Writer/Photographer. PNCA, 2003.</p>
            </div>
            <div>
                <img src="~/images/print/2GIN_2003.jpg" height="400" />
                <p>Festival Program for Enteractive Language Festival. Design/Content Writer/Photographer. 2Gyrlz Performative Arts, 2003.</p>
            </div>
            <div>
                <img src="~/images/print/2GOUT_2003.jpg" height="400" />
                <p>Festival Program for Enteractive Language Festival. Design/Content Writer/Photographer. 2Gyrlz Performative Arts, 2003.</p>
            </div>
            <div>
                <img src="~/images/print/JustOut_2007.jpg" width="400" />
                <p>Art Director. Just Out Magazine, 2007.</p>
            </div>
            <div>
                <img src="~/images/print/JustOut_2008.jpg" width="400" />
                <p>Art Director. Just Out Magazine, 2008.</p>
            </div>
            <div>
                <img src="~/images/print/JustOutEdit_2008.jpg" height="400" />
                <p>Art Director. Just Out Magazine, 2008.</p>
            </div>
        </div>
    </div>
</div>
