@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="{gutter: 20}">
    <div>
        <img src="~/images/PNCA_2002.jpg" />
    </div>
    <div>
        <img src="~/images/PNCA_2003.jpg" />
    </div>
    <div>
        <img src="~/images/2GIN_2003.jpg" />
    </div>
    <div>
        <img src="~/images/2GOUT_2003.jpg" />
    </div>
    <div>
        <img src="~/images/JustOut_2007.jpg" />
    </div>
    <div>
        <img src="~/images/JustOut_2008.jpg" />
    </div>
    <div>
        <img src="~/images/JustOutEdit_2008.jpg" />
    </div>
</div>