@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PortfolioDeux.Models.Repo>

<div class="uk-container">
    <div class="uk-header">
        <h2>Starred GitHub Repositories</h2>
        <div class="uk-heading-divider"></div>
        @foreach (var repo in Model)
        {
            <div class="uk-page">
                <p>Name: @Html.DisplayFor(modelRepo => repo.name) | Star count: @Html.DisplayFor(modelRepo => repo.stargazers_count)</p>
            </div>
        }

    </div>
</div>