@{
    ViewData["Title"] = "Illustration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-container">
    <div class="uk-panel">
        <div class="uk-heading-divider">
            <h2>Illustration</h2>
        </div>
        <div class="uk-panel">
            <p>I continue to illustrate for friends and clients using IllustratorCS, Sketch, Blender, and various other digital tools as well as pen and paper.</p>
        </div>
        <div class="uk-display-inline-block uk-padding">
            <p>samples to come</p>
        </div>
    </div>
</div>