@{
    ViewData["Title"] = "Projcts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="uk-modal-container">
    <div class="uk-panel">
        <div class="uk-modal-header">
            <h2>Coding Projects</h2>
        </div>
        <div class="uk-panel">
            <p>From April to October 2017, I was enrolled in Epicodus, a coding bootcamp. We worked from 8am-5pm, Monday-Friday on various coding assignments with a Friday independent project so we could test ourselves on retaining the lessons of each week.</p><p>I was in the CSharp/.NET track which covered basic programming in HTML/CSS/Javascript, C# in a Mono environment, AngularJS, Angular-CLI, and ASP.NET using Visual Studio 2015. The skills learned were beginner skills but a wonderful root in learning to read and understand code which will continue to be utilized in all my future projects as well as continued learning ethics.</p>
            <div class="uk-panel linkstyle">
                @Html.ActionLink("View all starred GitHub Repositories", "GetRepositories")
            </div>
        </div>
        <div class="uk-heading-divider"></div>
        <div class="uk-modal-header">
            <h4>Son of Cod Seafood Co | ASP.NET/Visual Studio 2015 project</h4>
        </div>
        <div class="uk-display-inline-block uk-padding">
            <img src="~/images/web/index.JPG" width="600" />
        </div>
        <div class="uk-display-inline-block uk-padding">
            <img src="~/images/web/side_menu-open.JPG"  width="600" />
        </div>
        <div class="uk-display-inline-block uk-padding">
            <img src="~/images/web/newsletter.JPG" width="600" />
        </div>
    </div>
</div>