@{
    ViewData["Title"] = "Web Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="uk-container">
    <div class="uk-panel">
        <div class="uk-heading-divider">
            <h2>Rising Room Gallery</h2>
        </div>
        <div class="uk-panel">
            <p>I worked for the gallery for its entirety from July 2015-July 2017. </p><p>My duties included the design and upkeep of the website as well as designing marketing materials and the complete production of the artist books published for each exhibition.</p>
        </div>
        <div class="uk-display-inline-block uk-padding">
            <img src="~/images/web/risingroom.JPG" width="600" />
        </div>
        <div class="uk-display-inline-block uk-padding">
            <img src="~/images/web/risingroom2.JPG" width="600" />
        </div>
    </div>
</div>