@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-container">
    <div class="uk-panel">
        <div class="uk-heading-divider">
            <h2>Contact | Freelance Inquiries</h2>
        </div>
        <div class="uk-panel">
            <p>I currently am taking on freelance clients.</p>
        </div>
        <div class="uk-display-inline-block uk-padding">
            <p>contact form to come</p>
        </div>
    </div>
</div>