@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="uk-height-large uk-background-cover uk-flex" uk-parallax="bgy: -200" id="spalsh">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Amatorah Design</h1>

</div>